<form action='/tasks/add' method='POST'>
  <div>
    <label for='title'>Title</label>
    <input type='text' name='title' id='title' placeholder='title' />
  </div>
  <div>

    <label for='description'>Description</label>
    <textarea
      name='description'
      id='description'
      placeholder='description'
    ></textarea>
  </div>

  <button>Add</button>
</form>

<ul>
  {{#each tasks}}
    <li>
      <p>{{title}}</p>
      <p>{{description}}</p>
      <button>Edit</button>
      <button>Delete</button>
    </li>
  {{/each}}
</ul>